/* background-color: #008B8B;  
background-color: #FCEAC7; */


.drag-over{
    background-color: #FFD700;
}

.square{
    background-color:#FCEAC7;
    width: 70px;
    height:70px;
}

.main_container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    height: 560px;
    width: 560px;
    border-radius: 5px;
    overflow: hidden;
}

.chess{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.files:nth-of-type(odd) .square:nth-of-type(even){
    background-color:#008B8B;
}

.files:nth-of-type(even) .square:nth-of-type(odd){
    background-color:#008B8B;
}

img{
    width: 100%;
    user-select: none;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 8px;
    border-radius: 5px;
    background-color: black;
    margin-right: 1rem;

}

#white-timer{
    background-color: #FCEAC7;
    color: #008B8B;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#black-timer{
    background-color: #008B8B;
    color: #FCEAC7;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
}

#white-timer, #black-timer {
    padding: 20px 20px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    
}

.highlight{
    background-color: #FFD700  !important;

}

.black-turn{
    background-color: black;
}

.white-turn{
    background-color: white;
}