/* background-color: #008B8B;  
background-color: #FCEAC7; */

.square{
    background-color:#FCEAC7;
    width: 70px;
    height:70px;
}

.main_container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    height: 560px;
    width: 560px;
    border-radius: 5px;
    overflow: hidden;
}

.chess{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.files:nth-of-type(odd) .square:nth-of-type(even){
    background-color:#008B8B;
}

.files:nth-of-type(even) .square:nth-of-type(odd){
    background-color:#008B8B;
}

img{
    width: 100%;
    user-select: none;
}